@import "tailwindcss";

@theme {
    --font-display: "Manrope", sans-serif;
    --font-baloo: "Baloo 2", sans-serif;
  }
:root {
    background-color: #FBF9F4;
};

@layer base {
    body{
        font-family: var(--font-display);
        font-weight: 500;
    }

    h1, h2, h3, span{
        font-family: var(--font-baloo);
        font-weight: 700;
    }
}